@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-texto-principal: #FFFFFF;
    --cor-texto-secundario: #C0C0C0;
    --cor-destaque: #167bf7;
    --cor-bg: #00030C;
    --font-principal: "Inter", sans-serif;
    --cor-destaque-efeito: #0f3c72;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--cor-bg);
    color: var(--cor-texto-principal);
    font-family: var(--font-principal);
    font-size: 1.75rem;
    font-weight: 300;    
}

.apresentacao {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.countainer {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.countainer__links {
    padding: 1em;
    margin: 1em 0;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: var(--cor-texto-principal);
    border-radius: 4px;
    background-color: var(--cor-destaque);
}

.countainer__links:hover {
    background-color: var(--cor-destaque-efeito);
}

.links__sem-destaque {
    background-color: transparent;
    border: solid 2px var(--cor-texto-principal);
}

.texto__aviso {
    font-size: 12px;
    font-weight: 300;
}

.countainer__img {
    margin: 1em 0 2em 0;
}

.countainer__caixa {
    margin: 0 6em;
}

.secundario {
    margin: 0 10em;
    align-items: center;
}

.secundario__img {
    width: 90%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    font-family: var(--font-principal);
    color: var(--cor-texto-principal);
    text-align: left;
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-weight: 300;
    font-size: 1rem;
    font-family: var(--font-principal);
    color: var(--cor-texto-secundario);
    text-align: left;
}

.links__menor {
    display: inline-block;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.rodape {
    text-align: center;
    font-weight: 300;
    margin-top: 10rem;
    font-size: 1rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.lista__link, 
.lista__link a {
    margin: 0.3em;
    color: var(--cor-texto-principal);
    font-size: 1rem;
}


.rodape__texto {
    font-size: 0.9em;
    color: var(--cor-texto-secundario);
    margin: 1.5rem;
}

.lista__link a:hover {
    color: var(--cor-destaque);
}

.lista__link a:active {
    color: #00030C;
}